@model MotoGP.Models.Race
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["BannerNr"] = 0;

    var source = "/images/races/" + Model.RaceID + ".jpg";

}



<h1>Race - @Html.DisplayFor(model => model.Name)</h1>
<h2>@Html.DisplayFor(model => model.Date) - @Html.DisplayFor(model => model.Country)</h2>
<img src= "@source"/>
<p>@Html.DisplayFor(model => model.Description)</p>