@model MotoGP.Models.Ticket
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Title"] = "Order Tickets";

    var countries = (IEnumerable<SelectListItem>)ViewData["Countries"];

    var races = (IEnumerable<Race>)ViewData["races"];
}

<p>Please fill out the following fields:</p>

<form asp-action="Create">

    <label asp-for="Name">@Html.DisplayNameFor(model => model.Name)</label>
    <input asp-for="Name" /> <br />

    <label asp-for="Email">@Html.DisplayNameFor(model => model.Email)</label>
    <input asp-for="Email" /> <br />

    <label asp-for="Address">@Html.DisplayNameFor(model => model.Address)</label>
    <input asp-for="Address" />  <br />



    <label asp-for="CountryID">@Html.DisplayNameFor(model => model.Country)</label>
    <select asp-for="CountryID" asp-items="countries"></select>
    <br />
    @foreach (Race race in races)
    {
        <input asp-for="RaceID" type="radio" value="@race.RaceID" />@race.Name <br/>
           }
    <br />
    <label asp-for="Number"></label>
    <input asp-for="Number" type="radio" value="1" />1
    <input asp-for="Number" type="radio" value="2" />2
    <input asp-for="Number" type="radio" value="3" />3
    <input asp-for="Number" type="radio" value="4" />4
    <input asp-for="Number" type="radio" value="5" />5
    <input asp-for="Number" type="radio" value="6" />6
    <br />

    <input type="submit" value="Create" />
</form>

<a asp-controller="Home" asp-action="Menu">Back</a>